APP_NAME = {{ gitea_app_name }}
RUN_USER = {{ gitea_run_user }}
RUN_MODE = {{ gitea_run_mode }}

[oauth2]
JWT_SECRET =

[security]
INTERNAL_TOKEN = 
INSTALL_LOCK   = {{ gitea_install_lock }}
SECRET_KEY     = 

[database]
DB_TYPE  = {{ gitea_db_type }}
HOST     = {{ gitea_host }}
NAME     = {{ gitea_name }}
USER     = {{ gitea_user }}
PASSWD   = {{ gitea_passwd }}
SSL_MODE = {{ gitea_ssl_mode }}
CHARSET  = {{ gitea_charset }}
PATH     = {{ gitea_path }}

[repository]
ROOT = {{ gitea_root }}

[server]
SSH_DOMAIN       = {{ gitea_gitea_domain }}
DOMAIN           = {{ gitea_gitea_domain }}
HTTP_PORT        = {{ gitea_http_port }}
ROOT_URL         = {{ gitea_root_url }}
DISABLE_SSH      = {{ gitea_disable_ssh }}
SSH_PORT         = {{ gitea_ssh_port }}
LFS_START_SERVER = {{ gitea_start_ssh_server }}
LFS_CONTENT_PATH = /var/lib/gitea/data/lfs
LFS_JWT_SECRET   = G_hv7L_QT9qcVUjYskU51HZZQTy8yzSmFv7W57AGWrQ
OFFLINE_MODE     = {{ gitea_offline_mode }}

[mailer]
ENABLED = {{ gitea_enabled }}

[service]
REGISTER_EMAIL_CONFIRM            = {{ gitea_register_email_confirm }}
ENABLE_NOTIFY_MAIL                = {{ gitea_enable_notify_mail }}
DISABLE_REGISTRATION              = {{ gitea_disable_registration }}
ALLOW_ONLY_EXTERNAL_REGISTRATION  = {{ gitea_allow_only_external_registration }}
ENABLE_CAPTCHA                    = {{ gitea_enable_captcha }}
REQUIRE_SIGNIN_VIEW               = {{ gitea_require_signin_view }}
DEFAULT_KEEP_EMAIL_PRIVATE        = {{ gitea_default_keep_email_private }}
DEFAULT_ALLOW_CREATE_ORGANIZATION = {{ gitea_default_allow_create_organization }}
DEFAULT_ENABLE_TIMETRACKING       = {{ gitea_enable_timetracking }}
NO_REPLY_ADDRESS                  = {{ gitea_no_reply_address }}

[picture]
DISABLE_GRAVATAR        = {{ gitea_disable_gravatar }}
ENABLE_FEDERATED_AVATAR = {{ gitea_enable_federated_avatar }}

[openid]
ENABLE_OPENID_SIGNIN = true
ENABLE_OPENID_SIGNUP = true

[session]
PROVIDER = {{ gitea_provider }}

[log]
MODE      = {{ gitea_mode }}
LEVEL     = {{ gitea_level }}
ROOT_PATH = {{ gitea_root_path }}
